body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f6;
  padding-top: 20px;
}

.section-title {
  font-size: 1.1rem;
  font-weight: semi-bold;
  margin-bottom: 10px;
}

.subsection-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2px;
}

.subsection-subtitle {
  font-size: 1rem;
  margin-bottom: 2px;
  font-style: italic;
}

.subsection-description{
  font-size: 0.9rem;
}

.section-content {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.project-title {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 15px;
}

.project-subtitle {
  font-size: 1rem;
  margin-bottom: 2px;
  font-style: italic;
}

.project-description {
  font-size: 1rem;
}

.experience-title {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 15px;
}

.experience-subtitle {
  font-size: 1rem;
  margin-bottom: 2px;
  font-style: italic;
}

.experience-description {
  font-size: 1rem;
  margin-bottom: 20px;
}

.publication-title {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 15px;
}

.publication-subtitle {
  font-size: 1rem;
  margin-bottom: 2px;
  font-style: italic;
}

.publications-list {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.contact-info {
  font-size: 1rem;
  color: #555;
}

.contact-info a {
  color: #007bff;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.skills-list, .education-list, .experience-list, .project-list {
  list-style-type: none;
  padding-left: 0;
}

.skills-list li, .education-list li, .experience-list li, .project-list li {
  margin-bottom: 10px;
}

.hidden-section {
  display: none;
}